In [2]:
import pandas as pd

In [5]:
#series
data = [100,103,104]
series = pd.Series(data,index=[1,2,3])
print(series)

print(series.loc[1]) #locating using by index label

print(series.iloc[1]) #locating using by index position

print(series.values) #print values

print(series[series > 100]) #filtering

print(series.mean()) #mean



#new dictionaries

calories = {"Day 1":420,"Day 2":380,"Day 3":390}
s = pd.Series(calories)
print(s)

s.loc["Day 1"] += 500

print(s.loc["Day 1"])

1    100
2    103
3    104
dtype: int64
100
103
[100 103 104]
2    103
3    104
dtype: int64
102.33333333333333
Day 1    420
Day 2    380
Day 3    390
dtype: int64
920

In [ ]:
#Data frames - tabular data structure
d = {"name":["John","Anna","James"],"age":[28,22,35]}  
data = pd.DataFrame(d, index = [1,2,3])

print() 

#add a new column
data["Job"] = ["Teacher","Doctor","Engineer"]
print(data)

print()

#add a rew row
new_row = pd.DataFrame([{"name":"Lily","age":25,"Job":"Student"}], index = [4])
data = pd.concat([data,new_row])
print(data)

    name  age       Job
1   John   28   Teacher
2   Anna   22    Doctor
3  James   35  Engineer
    name  age       Job
1   John   28   Teacher
2   Anna   22    Doctor
3  James   35  Engineer
4   Lily   25   Student